@page
@model MenuModel

@{
    ViewData["Title"] = "Menu";
    ViewData["guidUsager"] = Model.guidUsager;
    ViewData["Logo"] = Model.Variables.strURLLogo;
}

<div class="container-fluid idematbackground">
    <div class="idematlogoTPcontainer">
        <button type="button" class="btn btn-primary btn-lg btn-light float-left" style="margin-left: 10px; background-color: transparent" onclick="javascript:window.history.back();">
            <img src="~/Images/Fleche retour.svg" alt="Fleche retour Image">
        </button>
        <img src=@ViewData["Logo"].ToString() alt="Logo" class="idematlogoTP">
        <button type="button" class="btn btn-primary btn-lg btn-light float-right" style="margin-right: 10px; background-color: transparent" data-toggle="modal" data-target="#menuburger">
            <img src="~/Images/Burger menu.svg" alt="Burger menu Image" id="btnmenuburger">
        </button>
    </div>
    <div class="modal fade idemattransparence10" id="menuburger">
        <div class="modal-dialog idematmenumodal-dialog">
            <div class="modal-content idematmenumodal-content ">
                <div class="modal-header idematmenumodal-header">
                    <span>Menu</span>
                    <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <ul class="navbar-nav w-100 justify-content-between">
                        <li class="nav-item idematlabelmenuTP">
                            <a class="nav-link text-dark idematlabelmenuTP" asp-area="" asp-page="./Menu" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())">Accueil</a>
                        </li>
                        <li class="nav-item idematlabelmenuTP">
                            <a class="nav-link text-dark idematlabelmenuTP" asp-area="" asp-page="./CarteAcces" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())">Carte d'accès</a>
                        </li>
                        <li class="nav-item idematlabelmenuTP">
                            <a class="nav-link text-dark idematlabelmenuTP" asp-area="" asp-page="/Dechetteries" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())">Déchetteries</a>
                        </li>
                        <li class="nav-item idematlabelmenuTP">
                            <a class="nav-link text-dark idematlabelmenuTP" asp-area="" asp-page="/InformationsPersonnelles" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())" asp-route-deconnect="false">Mon compte</a>
                        </li>
                        <li class="nav-item idematlabelmenuTP">
                            <a class="nav-link text-dark idematlabelmenuTP" asp-area="" asp-page="/ConsultationSolde" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())">Mes passages</a>
                        </li>
                        @if (Model.Variables.blnPossibiliteAchatPassages)
                        {
                            <li class="nav-item idematlabelmenuTP">
                                <a class="nav-link text-dark idematlabelmenuTP" asp-area="" asp-page="/AchatPassages" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())">Recharger mon compte</a>
                            </li>
                        }
                        <li class="nav-item idematlabelmenuTP">
                            <a class="nav-link text-dark idematlabelmenuTP" asp-area="" asp-page="/MentionsLegales" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())">Mentions légales</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <aside class="d-none d-md-block col-12 col-md-4 col-lg-3 col-xl-2 p-0 bg-light">
                <img src=@ViewData["Logo"].ToString() alt="Logo" class="idematlogoPC">
                <div class="sidebar">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item idematlabelmenuPCActif">
                            <a class="nav-link text-dark" asp-area="" asp-page="./Menu" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())">Accueil</a>
                        </li>
                        <li class="nav-item idematlabelmenuPC">
                            <a class="nav-link text-dark" asp-area="" asp-page="./CarteAcces" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())">Carte d'accès</a>
                        </li>
                        <li class="nav-item idematlabelmenuPC">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Dechetteries" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())">Déchetteries</a>
                        </li>
                        <li class="nav-item idematlabelmenuPC">
                            <a class="nav-link text-dark" asp-area="" asp-page="/InformationsPersonnelles" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())" asp-route-deconnect="false">Mon compte</a>
                        </li>
                        <li class="nav-item idematlabelmenuPC">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ConsultationSolde" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())">Mes passages</a>
                        </li>
                        @if (Model.Variables.blnPossibiliteAchatPassages)
                        {
                            <li class="nav-item idematlabelmenuPC">
                                <a class="nav-link text-dark" asp-area="" asp-page="/AchatPassages" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())">Recharger mon compte</a>
                            </li>
                        }
                        <li class="nav-item idematlabelmenuPC">
                            <a class="nav-link text-dark" asp-area="" asp-page="/MentionsLegales" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())">Mentions légales</a>
                        </li>
                    </ul>
                </div>
            </aside>

            <main class="col">
                <!-- Insérez ici le contenu principal du site ou de l'application -->
                <div class="row vh-100">
                    <div class="col-md-12 container-fluid mx-3 mx-md-0">
                        <a class="nav-link text-dark" asp-area="" asp-page="/InformationsPersonnelles" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())" asp-route-deconnect="false">
                            <span class="idematuserPC idematlabelnomutilisateurPC">@Model.Variables.nomUsager<img src="~/Images/User.svg" alt="User Image" style="margin-left: 10px; margin-right: 10px; vertical-align: text-bottom;" /></span>
                        </a>
                        <div class="row vh-100">
                            <div class="col-md-2 col-sm-1 d-none d-sm-block"></div>
                            <div class="col-md-8 col-sm-10 col-12 align-self-start">
                                <form method="post" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Identifiant.GuidUsager" value="@Model.Variables.guidUsager" />

                                    <p class="idematlabelbienvenue">@Model.Variables.messageBienvenue</p>

                                    <!-- Boutons-->
                                    <div class="row g-3">
                                        <div class="col-12 col-xl-6">
                                            <div class="idematcardmenu">
                                                <a class="text-decoration-none" asp-area="" asp-page="/Dechetteries" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())">
                                                    <div class="row align-items-center">
                                                        <!-- Texte à gauche -->
                                                        <div class="col-8">
                                                            <div class="d-flex flex-column">
                                                                <span class="idematlabelboutonmenu">Déchetteries</span>
                                                                @*<span class="idematlabelsaisienoir">Sélectionnez votre déchetterie</span>*@
                                                            </div>
                                                        </div>

                                                        <!-- Image à droite -->
                                                        <div class="col-4 text-end">
                                                            <img class="idematimageboutonmenu" src="~/Images/Carte de ville.svg" alt="Carte de ville Image">
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-6">
                                            <div class="idematcardmenu">
                                                <a class="text-decoration-none" asp-area="" asp-page="/InformationsPersonnelles" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())" asp-route-deconnect="false">
                                                    <div class="row align-items-center">
                                                        <!-- Texte à gauche -->
                                                        <div class="col-8">
                                                            <div class="d-flex flex-column">
                                                                <span class="idematlabelboutonmenu">Mon compte</span>
                                                                @*<span class="idematlabelsaisienoir">Modifiez vos informations</span>*@
                                                            </div>
                                                        </div>

                                                        <!-- Image à droite -->
                                                        <div class="col-4 text-end">
                                                            <img class="idematimageboutonmenu" src="~/Images/Utilisateur.svg" alt="Utilisateur Image">
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        @if (!Model.Variables.blnPossibiliteAchatPassages)
                                        {
                                            <div class="col-xl-3">
                                            </div>
                                        }
                                        <div class="col-12 col-xl-6">
                                            <div class="idematcardmenu">
                                                <a class="text-decoration-none" asp-area="" asp-page="/ConsultationSolde" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())">
                                                    <div class="row align-items-center">
                                                        <!-- Texte à gauche -->
                                                        <div class="col-8">
                                                            <div class="d-flex flex-column">
                                                                <span class="idematlabelboutonmenu">Mes passages</span>
                                                                @*<span class="idematlabelsaisienoir">Consultez vos informations</span>*@
                                                            </div>
                                                        </div>

                                                        <!-- Image à droite -->
                                                        <div class="col-4 text-end">
                                                            <img class="idematimageboutonmenu" src="~/Images/Graphique.svg" alt="Graphique Image">
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        @if (Model.Variables.blnPossibiliteAchatPassages)
                                        {
                                            <div class="col-12 col-xl-6">
                                                <div class="idematcardmenu">
                                                    <a class="text-decoration-none" asp-area="" asp-page="/AchatPassages" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())">
                                                        <div class="row align-items-center">
                                                            <!-- Texte à gauche -->
                                                            <div class="col-8">
                                                                <div class="d-flex flex-column">
                                                                    <span class="idematlabelboutonmenu">Recharger mon compte</span>
                                                                    @*<span class="idematlabelsaisienoir">Rechargez votre compte</span>*@
                                                                </div>
                                                            </div>

                                                            <!-- Image à droite -->
                                                            <div class="col-4 text-end">
                                                                <img class="idematimageboutonmenu" src="~/Images/Ajouter.svg" alt="Ajouter Image">
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                        <div class="col-12">
                                            <div class="idematcardmenurouge">
                                                <a class="text-decoration-none" asp-area="" asp-page="./CarteAcces" asp-route-usagerGuid="@Crypto.Crypte(ViewData["guidUsager"].ToString())">
                                                    <div class="row align-items-center">
                                                        <div class="col-12 text-center">
                                                            <img src="~/Images/Carte.svg" alt="Carte Image">
                                                        </div>
                                                        <div class="col-12 text-center">
                                                            <div class="idematcardmenublancdansrouge">
                                                                <span class="idematlabelboutonmenu" style="color: red;">Accès</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div style="color:#F2664F">@Model.Variables.erreurDebug</div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-1 d-none d-sm-block"></div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<script>
    window.addEventListener('pageshow', function (event) {
        // Vérifie si la page vient du cache
        if (event.persisted) {
            location.reload();
        }
    });
</script>