@page "{contrat}"
@model IDemat.Pages.Usagers.CreateModel

@{
    ViewData["Title"] = "Demande de création de carte";
    ViewData["Logo"] = Model.Variables.strURLLogo;
}

@*<h1>Accès en déchetterie</h1>*@
@*<p>@Model.Variables.idEnseigne.ToString()</p>*@
@*<h4>Demande de création de carte</h4>
    <hr />*@

<div class="container-fluid idematbackground">
    <div class="idematlogoTPcontainer">
        <button type="button" class="btn btn-primary btn-lg btn-light float-left" style="margin-left: 10px; background-color: transparent" onclick="javascript:window.history.back();">
            <img src="~/Images/Fleche retour.svg" alt="Fleche retour Image">
        </button>
        <img src=@ViewData["Logo"].ToString() alt="Logo" class="idematlogoTP">
    </div>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <aside class="d-none d-md-block col-12 col-md-4 col-lg-3 col-xl-2 p-0" style="background-color: #F5F4F4;">
                <img src=@ViewData["Logo"].ToString() alt="Logo" class="idematlogoPC">
            </aside>

            <main class="col">
                <!-- Insérez ici le contenu principal du site ou de l'application -->
                <div class="row vh-100">
                    <!-- Modal -->
                    <div class="modal fade" data-show="true" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" style="background: radial-gradient(farthest-corner at 0px 0px, #F4849399 0%, #F2664F 50%) 0% 0% no-repeat padding-box; opacity: 1; border-radius: 30px;">
                                <div class="modal-header" style="border-bottom:none;">
                                    <img src="~/Images/Utilisateur blanc.svg" alt="Utilisateur">
                                    <h5 class="modal-title idematlabelsaisieblanc" id="exampleModalLabel">Vous êtes...</h5>
                                </div>
                                <hr class="idematligneseparatrice">
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="idematlabelsaisieblanc">
                                                    <input class="form-check-input" type="radio" name="typeRadio" value="Part" checked>
                                                    Particulier
                                                </label>
                                            </div>
                                            <div class="col-6 ml-auto">
                                                <label class="idematlabelsaisieblanc">
                                                    <input class="form-check-input " type="radio" name="typeRadio" value="Pro">
                                                    Professionnel
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="idematligneseparatrice">
                                <div class="modal-footer form-group" style="border-top:none;">
                                    @*<input type="submit" value="Valider" class="btn btn-danger px-4 py-2" asp-page-handler="Valider" data-dismiss="modal" />*@
                                    <input type="submit" value="Valider" class="btn idematbtnrougefondblanc" asp-page-handler="Valider" data-dismiss="modal" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div id="Particulier">
                        <div class="col-md-12 container-fluid mx-3 mx-md-0">
                            <div class="row vh-100">
                                <div class="col-md-2 col-sm-1 d-none d-sm-block"></div>
                                <div class="col-md-8 col-sm-10 col-12 align-self-start">
                                    <form method="post" enctype="multipart/form-data">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        @*<input type="hidden" asp-for="Usager.Id" />*@
                                        <input type="hidden" asp-for="Usager.GuidUsager" value="@Model.Variables.guidCreation" />
                                        <input type="hidden" asp-for="Usager.Civilite" id="civiliteValeur" />
                                        <input type="hidden" asp-for="Usager.IdEnseigne" value="@Model.Variables.idEnseigne" />
                                        <input type="hidden" id="myPartOuPro" asp-for="strChoixPartOuPro" value="@Model.Variables.strPartOuPro" />

                                        <br /><br />
                                        <p class="idematlabelentetepage" style="vertical-align: middle">
                                            <button type="button" class="btn btn-primary btn-lg btn-light float-left idematbtnbackPC" style="border: none; background-color: transparent" onclick="javascript:window.history.back();">
                                                <img src="~/Images/Fleche retour.svg" alt="Fleche retour Image">
                                            </button>Inscription particulier
                                        </p>

                                        <!-- Informations personnelles -->
                                        <div class="idematcard">
                                            <img src="~/Images/Carte de membre.svg" alt="Carte de membre Image" style="margin-right: 10px; vertical-align: text-bottom;" /><label for="" class="form-label idematlabelentetebloc">Informations personnelles</label><br />
                                            <div class="row mb-3">
                                                <div class="col-xl-6">
                                                    <label for="civilite" class="form-label idematlabelsaisienoir">Civilité</label>
                                                    <br />
                                                    @foreach (var civilite in Model.Listes.Civilites)
                                                    {
                                                        <input type="button" asp-for="Usager.Civilite" value="@civilite" id="civ_@civilite.ToString()" width="15" onclick="Civilite('@civilite.ToString()')" class="@(Model.Usager != null && Model.Usager.Civilite == civilite.ToString() ? "idematblancsurfondnoir" : "idematnoirsurfondblanc")" />@Html.Raw("&nbsp;")@Html.Raw("&nbsp;")
                                                    }

                                                    <span asp-validation-for="Usager.Civilite" class="text-danger"></span>
                                                    @if (Model.Variables.erreurCivilite)
                                                    {
                                                        <div style="color:red">@Html.Raw("La civilité est obligatoire")</div>
                                                    }
                                                    <div style="color:red">@Model.Variables.erreurDebug</div>

                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="nom" class="form-label idematlabelsaisienoir">Nom</label>
                                                    <input type="text" class="form-control idematsaisiefondblanc" id="nom" asp-for="Usager.Nom">
                                                    <span asp-validation-for="Usager.Nom" class="text-danger"></span>
                                                    @if (Model.Variables.erreurNom)
                                                    {
                                                        <div style="color:red">@Html.Raw("Le nom est obligatoire")</div>
                                                    }
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="prenom" class="form-label idematlabelsaisienoir">Prénom</label>
                                                    <input type="text" class="form-control idematsaisiefondblanc" id="prenom" asp-for="Usager.Prenom">
                                                    <span asp-validation-for="Usager.Prenom" class="text-danger"></span>
                                                    @if (Model.Variables.erreurPrenom)
                                                    {
                                                        <div style="color:red">@Html.Raw("Le prénom est obligatoire")</div>
                                                    }
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-xl-6">
                                                    <label for="adresse" class="form-label idematlabelsaisienoir">Adresse</label>
                                                    <input type="text" class="form-control idematsaisiefondblanc" id="adresse" asp-for="Usager.Adresse">
                                                    <span asp-validation-for="Usager.Adresse" class="text-danger"></span>
                                                    @if (Model.Variables.erreurAdresse)
                                                    {
                                                        <div style="color:red">@Html.Raw("L'adresse est obligatoire")</div>
                                                    }
                                                </div>
                                                @*<div class="col-xl-3">
                                                        <label for="codePostal" class="form-label idematlabelsaisienoir">Code Postal</label>
                                                        <input type="number" class="form-control idematsaisiefondblanc" id="codePostal" asp-for="Usager.CP">
                                                        <span asp-validation-for="Usager.CP" class="text-danger"></span>
                                                        @if (Model.Variables.erreurCodePostal)
                                                        {
                                                            <div style="color:red">@Html.Raw("Le code postal est obligatoire")</div>
                                                        }
                                                    </div>
                                                    <div class="col-xl-3">
                                                        <label for="ville" class="form-label idematlabelsaisienoir">Ville</label>
                                                        <input type="text" class="form-control idematsaisiefondblanc" id="ville" asp-for="Usager.Ville">
                                                        <span asp-validation-for="Usager.Ville" class="text-danger"></span>
                                                        @if (Model.Variables.erreurVille)
                                                        {
                                                            <div style="color:red">@Html.Raw("La ville est obligatoire")</div>
                                                        }
                                                    </div>*@
                                                <div class="col-xl-6">
                                                    <label for="ville" class="form-label idematlabelsaisienoir">Ville</label>
                                                    <select asp-for="Usager.CPVille" asp-items="Model.Communes" class="form-control idematsaisiefondblanc" id="cpville"><option value="">-- Sélectionnez votre ville --</option> <!-- Empty option --></select>
                                                    <span asp-validation-for="Usager.Ville" class="text-danger"></span>
                                                    @if (Model.Variables.erreurVille)
                                                    {
                                                        <div style="color:red">@Html.Raw("La ville est obligatoire")</div>
                                                    }
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-xl-6">
                                                    <label for="email" class="form-label idematlabelsaisienoir">E-mail</label>
                                                    <input type="email" class="form-control idematsaisiefondblanc" id="telephone" asp-for="Usager.Email">
                                                    <span asp-validation-for="Usager.Email" class="text-danger"></span>
                                                    @if (Model.Variables.erreurMail)
                                                    {
                                                        <div style="color:red">@Html.Raw("L'e-mail est obligatoire")</div>
                                                    }
                                                    @if (Model.Variables.erreurEmail != "")
                                                    {
                                                        <div style="color:red">@Model.Variables.erreurEmail</div>
                                                    }
                                                    @if (Model.Variables.erreurUniciteEmail)
                                                    {
                                                        <div style="color:red">@Html.Raw("Un compte existe déjà avec cette adresse email")</div>
                                                    }
                                                </div>
                                                <div class="col-xl-6">
                                                    <label for="telephone" class="form-label idematlabelsaisienoir">Téléphone</label>
                                                    <input type="tel" class="form-control idematsaisiefondblanc" id="Telephone" asp-for="Usager.Telephone">
                                                    <span asp-validation-for="Usager.Telephone" class="text-danger"></span>
                                                    @if (Model.Variables.erreurTelephone)
                                                    {
                                                        <div style="color:red">@Html.Raw("Le numéro de téléphone est obligatoire")</div>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Carte d'accès -->
                                        @if (Model.Variables.blnCarteDemat && Model.Variables.blnCartePhysique)
                                        {
                                            <div class="idematcard">
                                                <img src="~/Images/Carte a puce.svg" alt="Carte a puce Image" style="margin-right: 10px; vertical-align: text-bottom;" /><label for="" class="form-label idematlabelentetebloc">Carte d'accès</label><br />
                                                <div class="col mb-3">
                                                    @foreach (var typecarte in Model.Listes.TypesCarte)
                                                    {
                                                        <input type="radio" asp-for="Usager.TypeCarte" value="@typecarte" />@Html.Raw("&nbsp;")@typecarte<br />
                                                    }

                                                    <span asp-validation-for="Usager.TypeCarte" class="text-danger"></span>
                                                    @if (Model.Variables.erreurTypeCarte)
                                                    {
                                                        <div style="color:red">@Html.Raw("Le type de carte demandée est obligatoire")</div>
                                                    }

                                                </div>
                                            </div>
                                        }


                                        @if (Model.Variables.blnImmatriculations)
                                        {
                                            <!-- Ajouter un véhicule -->
                                            <input type="hidden" asp-for="Usager.strImmatriculations" value="@Model.Variables.strImmatriculations" />
                                            <div class="idematcard">
                                                <img src="~/Images/Voiture.svg" alt="Voiture Image" style="margin-right: 10px; vertical-align: text-bottom;" /><label for="" class="form-label idematlabelentetebloc">Ajouter un véhicule</label><br />
                                                <div class="row mb-3">
                                                    <div class="col-xl-6">
                                                        <label for="immatriculation" class="form-label idematlabelsaisienoir">Immatriculation du véhicule</label>
                                                        <input asp-for="Usager.ImmatEnCours" type="text" class="form-control idematsaisiefondblanc" id="immatriculation" placeholder="Ex : AB123CD" value="@(Model.Usager == null ? "" : Model.Usager.ImmatEnCours)">
                                                        @if (Model.Variables.erreurImmat)
                                                        {
                                                            <div style="color:red">@Html.Raw("L'immatriculation est obligatoire")</div>
                                                        }
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <label for="UploadCG" class="form-label idematlabelsaisienoir">Carte grise</label>
                                                        <input type="file" asp-for="UploadCG" accept=".pdf, .jpg, .jpeg, .gif, .png" class="form-control" id="carteGrise" title="Carte grise" lang="fr" style="border: none;">
                                                        @if (Model.Variables.erreurCG)
                                                        {
                                                            <div style="color:red">@Html.Raw("Vous devez joindre votre carte grise")</div>
                                                        }

                                                    </div>
                                                </div>

                                                @if (Model.Variables.blnDemandeZoneJ1F3)
                                                {
                                                    <div class="row mb-3">
                                                        <div class="col-xl-6">
                                                            <label for="zoneJ1CG" class="form-label idematlabelsaisienoir">Zone J.1 de la carte grise</label>
                                                            <select asp-for="Usager.ImmatJ1EnCours" asp-items="Model.ZoneJ1CG" class="form-control idematsaisiefondblanc" id="immatriculationJ1"><option value="">-- Sélectionnez le genre national --</option> <!-- Empty option --></select>
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <label for="UploadCG" class="form-label idematlabelsaisienoir">Zone F.3 de la carte grise</label>
                                                            <input asp-for="Usager.ImmatF3EnCours" type="text" class="form-control idematsaisiefondblanc" id="immatriculationF3" value="@(Model.Usager == null ? "" : Model.Usager.ImmatF3EnCours)">
                                                            @if (Model.Variables.erreurF3)
                                                            {
                                                                <div style="color:red">@Html.Raw("Le poids doit être un nombre entier")</div>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                                <input id="btnAjouterImmat" type="submit" value="Ajouter le véhicule" class="btn btn-primary idematbtnblancfondtransparent" asp-page-handler="AjoutImmat" asp-route-idEnseigne="@Model.Variables.idEnseigne" asp-route-strImmatriculations="@Model.Variables.strImmatriculations" asp-route-guidCreation="@Model.Variables.guidCreation.ToString()" />

                                                @{
                                                    int index = 1;
                                                    foreach (string immat in Model.Variables.strImmatriculations.Split(";").ToList())
                                                    {
                                                        <div class="idematlabelentetenoirgras">
                                                            @immat
                                                        </div>
                                                        index++;
                                                    }
                                                }
                                            </div>
                                        }

                                        <!-- Carte d'identité' -->
                                        <div class="idematcard">
                                            <img src="~/Images/Carte de membre.svg" alt="Carte de membre Image" style="margin-right: 10px; vertical-align: text-bottom;" /><label for="" class="form-label idematlabelentetebloc">Carte d'identité</label><br />
                                            <div class="row mb-3">
                                                <div class="col-xl-12">
                                                    <input type="file" asp-for="UploadCI" accept=".pdf, .jpg, .jpeg, .gif, .png" class="form-control" id="carteIdentite" title="Carte d'identité" lang="fr" style="border: none;">
                                                    @if (Model.Variables.erreurCI)
                                                    {
                                                        <div style="color:red">@Html.Raw("Vous devez joindre votre carte d'identité")</div>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Justificatif de domicile -->
                                        <div class="idematcard">
                                            <img src="~/Images/Domicile.svg" alt="Domicile Image" style="margin-right: 10px; vertical-align: text-bottom;" /><label for="" class="form-label idematlabelentetebloc">
                                                Justificatif de domicile
                                            </label><br />
                                            <div class="row mb-3">
                                                <div class="col-xl-12">
                                                    <input type="file" asp-for="UploadJD" accept=".pdf, .jpg, .jpeg, .gif, .png" class="form-control" id="justifdomicile" title="Justificatif de domicile" lang="fr" style="border: none;">
                                                    @if (Model.Variables.erreurJD)
                                                    {
                                                        <div style="color:red">@Html.Raw("Vous devez joindre votre justificatif de domicile")</div>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Conditions générales -->
                                        <div class="idematcard">
                                            <img src="~/Images/Fiche.svg" alt="Fiche Image" style="margin-right: 10px; vertical-align: text-bottom;" /><label for="" class="form-label idematlabelentetebloc">
                                                Conditions générales
                                            </label><br />
                                            <p class="idematlabelaffichagenoir">
                                                <div class="idematlabelmultilinenoir" style="height: 150px;overflow-y: scroll">@Html.Raw(@Model.Variables.strMentionsLegales)</div><br />
                                            </p>
                                            <div class="form-check">
                                                <input asp-for="blnMentionsLegales" id="chkMentionsLegales" class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="acceptConditions">
                                                    J'ai lu et accepté les conditions générales
                                                </label>
                                                @if (Model.Variables.erreurMentionsLegales)
                                                {
                                                    <div style="color:red">@Html.Raw("Vous devez accepter les conditions générales")</div>
                                                }

                                            </div>
                                        </div>

                                        <!-- Bouton de validation -->
                                        <div class="text-center">
                                            <button type="submit" class="idematbtnrouge" asp-page-handler="Enregistrer"><img src="~/Images/Check.svg" alt="Check Image" style="margin-right: 10px; margin-top: 5px; vertical-align: text-bottom;" />Envoyer ma demande d'inscription</button>
                                        </div>
                                    </form>
                                </div>


                            </div>
                            <div class="col-md-2 col-sm-1 d-none d-sm-block"></div>
                        </div>
                    </div>

                    <div id="Professionnel">
                        <div class="col-md-12 container-fluid mx-3 mx-md-0">
                            <div class="row vh-100">
                                <div class="col-md-2 col-sm-1 d-none d-sm-block"></div>
                                <div class="col-md-8 col-sm-10 col-12 align-self-start">
                                    <form method="post" enctype="multipart/form-data">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        @*<input type="hidden" asp-for="Usager.Id" />*@
                                        <input type="hidden" asp-for="Usager.GuidUsager" value="@Model.Variables.guidCreation" />
                                        <input type="hidden" asp-for="Usager.Civilite" id="civiliteValeur" />
                                        <input type="hidden" asp-for="Usager.IdEnseigne" value="@Model.Variables.idEnseigne" />
                                        <input type="hidden" id="myPartOuProPro" asp-for="strChoixPartOuPro" value="@Model.Variables.strPartOuPro" />

                                        <br /><br />
                                        <p class="idematlabelentetepage" style="vertical-align: middle">
                                            <button type="button" class="btn btn-primary btn-lg btn-light float-left idematbtnbackPC" style="border: none; background-color: transparent" onclick="javascript:window.history.back();">
                                                <img src="~/Images/Fleche retour.svg" alt="Fleche retour Image">
                                            </button>Inscription professionnel
                                        </p>

                                        <!-- Informations personnelles -->
                                        <div class="idematcard">
                                            <img src="~/Images/Carte de membre.svg" alt="Carte de membre Image" style="margin-right: 10px; vertical-align: text-bottom;" /><label for="" class="form-label idematlabelentetebloc">Informations personnelles</label><br />
                                            <div class="row mb-3">
                                                <div class="col-xl-6">
                                                    <label for="societe" class="form-label idematlabelsaisienoir">Société</label>
                                                    <input type="text" class="form-control idematsaisiefondblanc" id="societepro" asp-for="Usager.Societe">
                                                    <span asp-validation-for="Usager.Societe" class="text-danger"></span>
                                                    @if (Model.Variables.erreurSociete)
                                                    {
                                                        <div style="color:red">@Html.Raw("La société est obligatoire")</div>
                                                    }
                                                    <div style="color:red">@Model.Variables.erreurDebug</div>

                                                </div>
                                                <div class="col-xl-6">
                                                    <label for="siret" class="form-label idematlabelsaisienoir">SIRET</label>
                                                    <input type="text" class="form-control idematsaisiefondblanc" id="siretpro" asp-for="Usager.SIRET">
                                                    <span asp-validation-for="Usager.SIRET" class="text-danger"></span>
                                                    @if (Model.Variables.erreurSIRET)
                                                    {
                                                        <div style="color:red">@Html.Raw("Le SIRET est obligatoire")</div>
                                                    }
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-xl-6">
                                                    <label for="nom" class="form-label idematlabelsaisienoir">Nom</label>
                                                    <input type="text" class="form-control idematsaisiefondblanc" id="nompro" asp-for="Usager.Nom">
                                                    <span asp-validation-for="Usager.Nom" class="text-danger"></span>
                                                </div>
                                                <div class="col-xl-6">
                                                    <label for="prenom" class="form-label idematlabelsaisienoir">Prénom</label>
                                                    <input type="text" class="form-control idematsaisiefondblanc" id="prenompro" asp-for="Usager.Prenom">
                                                    <span asp-validation-for="Usager.Prenom" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-xl-6">
                                                    <label for="adresse" class="form-label idematlabelsaisienoir">Adresse</label>
                                                    <input type="text" class="form-control idematsaisiefondblanc" id="adressepro" asp-for="Usager.Adresse">
                                                    <span asp-validation-for="Usager.Adresse" class="text-danger"></span>
                                                    @if (Model.Variables.erreurAdresse)
                                                    {
                                                        <div style="color:red">@Html.Raw("L'adresse est obligatoire")</div>
                                                    }
                                                </div>
                                                @*<div class="col-xl-3">
                                                        <label for="codePostal" class="form-label idematlabelsaisienoir">Code Postal</label>
                                                        <input type="number" class="form-control idematsaisiefondblanc" id="codePostalpro" asp-for="Usager.CP">
                                                        <span asp-validation-for="Usager.CP" class="text-danger"></span>
                                                        @if (Model.Variables.erreurCodePostal)
                                                        {
                                                            <div style="color:red">@Html.Raw("Le code postal est obligatoire")</div>
                                                        }
                                                    </div>
                                                    <div class="col-xl-3">
                                                        <label for="ville" class="form-label idematlabelsaisienoir">Ville</label>
                                                        <input type="text" class="form-control idematsaisiefondblanc" id="villepro" asp-for="Usager.Ville">
                                                        <span asp-validation-for="Usager.Ville" class="text-danger"></span>
                                                        @if (Model.Variables.erreurVille)
                                                        {
                                                            <div style="color:red">@Html.Raw("La ville est obligatoire")</div>
                                                        }
                                                    </div>*@
                                                <div class="col-xl-6">
                                                    <label for="ville" class="form-label idematlabelsaisienoir">Ville</label>
                                                    <select asp-for="Usager.CPVille" asp-items="Model.Communes" class="form-control idematsaisiefondblanc" id="cpvillepro"><option value="">-- Sélectionnez votre ville --</option> <!-- Empty option --></select>
                                                    <span asp-validation-for="Usager.Ville" class="text-danger"></span>
                                                    @if (Model.Variables.erreurVille)
                                                    {
                                                        <div style="color:red">@Html.Raw("La ville est obligatoire")</div>
                                                    }
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-xl-6">
                                                    <label for="email" class="form-label idematlabelsaisienoir">E-mail</label>
                                                    <input type="email" class="form-control idematsaisiefondblanc" id="emailpro" asp-for="Usager.Email">
                                                    <span asp-validation-for="Usager.Email" class="text-danger"></span>
                                                    @if (Model.Variables.erreurMail)
                                                    {
                                                        <div style="color:red">@Html.Raw("L'e-mail est obligatoire")</div>
                                                    }
                                                    @if (Model.Variables.erreurEmail != "")
                                                    {
                                                        <div style="color:red">@Model.Variables.erreurEmail</div>
                                                    }
                                                    @if (Model.Variables.erreurUniciteEmail)
                                                    {
                                                        <div style="color:red">@Html.Raw("Un compte existe déjà avec cette adresse email")</div>
                                                    }
                                                </div>
                                                <div class="col-xl-6">
                                                    <label for="telephone" class="form-label idematlabelsaisienoir">Téléphone</label>
                                                    <input type="tel" class="form-control idematsaisiefondblanc" id="Telephonepro" asp-for="Usager.Telephone">
                                                    <span asp-validation-for="Usager.Telephone" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Carte d'accès -->
                                        @if (Model.Variables.blnCarteDemat && Model.Variables.blnCartePhysique)
                                        {
                                            <div class="idematcard">
                                                <img src="~/Images/Carte a puce.svg" alt="Carte a puce Image" style="margin-right: 10px; vertical-align: text-bottom;" /><label for="" class="form-label idematlabelentetebloc">Carte d'accès</label><br />
                                                <div class="col mb-3">
                                                    @foreach (var typecarte in Model.Listes.TypesCarte)
                                                    {
                                                        <input type="radio" asp-for="Usager.TypeCarte" value="@typecarte" />@Html.Raw("&nbsp;")@typecarte<br />
                                                    }

                                                    <span asp-validation-for="Usager.TypeCarte" class="text-danger"></span>
                                                    @if (Model.Variables.erreurTypeCarte)
                                                    {
                                                        <div style="color:red">@Html.Raw("Le type de carte demandée est obligatoire")</div>
                                                    }

                                                </div>
                                            </div>
                                        }


                                        @if (Model.Variables.blnImmatriculations)
                                        {
                                            <!-- Ajouter un véhicule -->
                                            <input type="hidden" asp-for="Usager.strImmatriculations" value="@Model.Variables.strImmatriculations" />
                                            <div class="idematcard">
                                                <img src="~/Images/Voiture.svg" alt="Voiture Image" style="margin-right: 10px; vertical-align: text-bottom;" /><label for="" class="form-label idematlabelentetebloc">Ajouter un véhicule</label><br />
                                                <div class="row mb-3">
                                                    <div class="col-xl-6">
                                                        <label for="immatriculation" class="form-label idematlabelsaisienoir">Immatriculation du véhicule</label>
                                                        <input asp-for="Usager.ImmatEnCours" type="text" class="form-control idematsaisiefondblanc" id="immatriculationpro" placeholder="Ex : AB123CD" value="@(Model.Usager == null ? "" : Model.Usager.ImmatEnCours)">
                                                        @if (Model.Variables.erreurImmat)
                                                        {
                                                            <div style="color:red">@Html.Raw("L'immatriculation est obligatoire")</div>
                                                        }
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <label for="UploadCG" class="form-label idematlabelsaisienoir">Carte grise</label>
                                                        <input type="file" asp-for="UploadCG" accept=".pdf, .jpg, .jpeg, .gif, .png" class="form-control" id="carteGrisepro" title="Carte grise" lang="fr" style="border: none;">
                                                        @if (Model.Variables.erreurCG)
                                                        {
                                                            <div style="color:red">@Html.Raw("Vous devez joindre votre carte grise")</div>
                                                        }

                                                    </div>
                                                </div>
                                                @if (Model.Variables.blnDemandeZoneJ1F3)
                                                {
                                                    <div class="row mb-3">
                                                        <div class="col-xl-6">
                                                            <label for="zoneJ1CG" class="form-label idematlabelsaisienoir">Zone J.1 de la carte grise</label>
                                                            <select asp-for="Usager.ImmatJ1EnCours" asp-items="Model.ZoneJ1CG" class="form-control idematsaisiefondblanc" id="immatriculationJ1pro"><option value="">-- Sélectionnez le genre national --</option> <!-- Empty option --></select>
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <label for="UploadCG" class="form-label idematlabelsaisienoir">Zone F.3 de la carte grise</label>
                                                            <input asp-for="Usager.ImmatF3EnCours" type="text" class="form-control idematsaisiefondblanc" id="immatriculationF3pro" value="@(Model.Usager == null ? "" : Model.Usager.ImmatF3EnCours)">
                                                            @if (Model.Variables.erreurF3)
                                                            {
                                                                <div style="color:red">@Html.Raw("Le poids doit être un nombre entier")</div>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                                <input id="btnAjouterImmat" type="submit" value="Ajouter le véhicule" class="btn btn-primary idematbtnblancfondtransparent" asp-page-handler="AjoutImmatPro" asp-route-idEnseigne="@Model.Variables.idEnseigne" asp-route-strImmatriculations="@Model.Variables.strImmatriculations" asp-route-guidCreation="@Model.Variables.guidCreation.ToString()" />

                                                @{
                                                    int index = 1;
                                                    foreach (string immat in Model.Variables.strImmatriculations.Split(";").ToList())
                                                    {
                                                        <div class="idematlabelentetenoirgras">
                                                            @immat
                                                        </div>
                                                        index++;
                                                    }
                                                }
                                            </div>
                                        }

                                        <!-- Kbis -->
                                        <div class="idematcard">
                                            <img src="~/Images/Carte de membre.svg" alt="Carte de membre Image" style="margin-right: 10px; vertical-align: text-bottom;" /><label for="" class="form-label idematlabelentetebloc">Kbis</label><br />
                                            <div class="row mb-3">
                                                <div class="col-xl-12">
                                                    <input type="file" asp-for="UploadKB" accept=".pdf, .jpg, .jpeg, .gif, .png" class="form-control" id="kbis" title="KBis" lang="fr" style="border: none;">
                                                    @if (Model.Variables.erreurKB)
                                                    {
                                                        <div style="color:red">@Html.Raw("Vous devez joindre votre Kbis")</div>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Conditions générales -->
                                        <div class="idematcard">
                                            <img src="~/Images/Fiche.svg" alt="Fiche Image" style="margin-right: 10px; vertical-align: text-bottom;" /><label for="" class="form-label idematlabelentetebloc">
                                                Conditions générales
                                            </label><br />
                                            <p class="idematlabelaffichagenoir">
                                                <div class="idematlabelmultilinenoir" style="height: 150px;overflow-y: scroll">@Html.Raw(@Model.Variables.strMentionsLegales)</div><br />
                                            </p>
                                            <div class="form-check">
                                                <input asp-for="blnMentionsLegales" id="chkMentionsLegalespro" class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="acceptConditions">
                                                    J'ai lu et accepté les conditions générales
                                                </label>
                                                @if (Model.Variables.erreurMentionsLegales)
                                                {
                                                    <div style="color:red">@Html.Raw("Vous devez accepter les conditions générales")</div>
                                                }

                                            </div>
                                        </div>

                                        <!-- Bouton de validation -->
                                        <div class="text-center">
                                            <button type="submit" class="idematbtnrouge" asp-page-handler="EnregistrerPro"><img src="~/Images/Check.svg" alt="Check Image" style="margin-right: 10px; margin-top: 5px; vertical-align: text-bottom;" />Envoyer ma demande d'inscription</button>
                                        </div>
                                    </form>
                                </div>


                            </div>
                            <div class="col-md-2 col-sm-1 d-none d-sm-block"></div>
                        </div>
                    </div>
            </main>
        </div>
    </div>

</div>


@*<div>
        <a asp-page="Index">Retour</a>
    </div>*@<div>
    <a asp-page="Index"></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function Civilite(monTexte) {
            var blnSelect = (monTexte == document.getElementById('civiliteValeur').value);
            var inputs = document.getElementsByTagName("input");
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].id.indexOf('civ_') == 0) {
                    //alert(inputs[i].id);
                    //document.getElementById(inputs[i].id).style.background = '#EEEEEE';
                    //document.getElementById(inputs[i].id).style.color = '#000000';
                    document.getElementById(inputs[i].id).className = 'idematnoirsurfondblanc';
                }
            }
            if (!blnSelect) {
                //document.getElementById('civ_' + monTexte).style.background = '#1560BD';
                //document.getElementById('civ_' + monTexte).style.color = '#FFFFFF';
                document.getElementById('civ_' + monTexte).className = 'idematblancsurfondnoir';
                document.getElementById('civiliteValeur').value = monTexte;
            }
            else {
                document.getElementById('civiliteValeur').value = '';
            }
        }

        function findBootstrapEnvironment() {
            let envs = ['xs', 'sm', 'md', 'lg', 'xl'];

            let el = document.createElement('div');
            document.body.appendChild(el);

            let curEnv = envs.shift();

            for (let env of envs.reverse()) {
                el.classList.add(`d-${env}-none`);

                if (window.getComputedStyle(el).display === 'none') {
                    curEnv = env;
                    break;
                }
            }

            document.body.removeChild(el);
            return curEnv;
        }

        function TextClic() {

        }
    </script>

    <script type="text/javascript">
        $(window).on('load', function () {
            var elem = document.getElementById("myPartOuPro");
            var elemPro = document.getElementById("myPartOuProPro");
            if (elem.value == "") {
                $('#myModal').modal('show');
                var x = document.getElementById("Particulier");
                x.style.display = "contents";
                var y = document.getElementById("Professionnel");
                y.style.display = "none";
                var z = document.getElementById("myPartOuPro");
                z.value = "Part";
                var zpro = document.getElementById("myPartOuProPro");
                zpro.value = "Part";
            }
            if (elem.value == "Part" || elemPro.value == "Part") {
                var x = document.getElementById("Particulier");
                x.style.display = "contents";
                var y = document.getElementById("Professionnel");
                y.style.display = "none";
                var z = document.getElementById("myPartOuPro");
                z.value = "Part";
                var zpro = document.getElementById("myPartOuProPro");
                zpro.value = "Part";
            }
            if (elem.value == "Pro" || elemPro.value == "Pro") {
                var x = document.getElementById("Professionnel");
                x.style.display = "contents";
                var y = document.getElementById("Particulier");
                y.style.display = "none";
                var z = document.getElementById("myPartOuPro");
                z.value = "Pro";
                var zpro = document.getElementById("myPartOuProPro");
                zpro.value = "Pro";
            }

        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[name="typeRadio"]').
                click(
                    function () {
                        const inputValue = $(this).attr("value");
                        if (inputValue == "Part") {
                            var x = document.getElementById("Particulier");
                            x.style.display = "contents";
                            var y = document.getElementById("Professionnel");
                            y.style.display = "none";
                            var z = document.getElementById("myPartOuPro");
                            z.value = "Part";
                            var zpro = document.getElementById("myPartOuProPro");
                            zpro.value = "Part";
                        }
                        else {
                            var x = document.getElementById("Professionnel");
                            x.style.display = "contents";
                            var y = document.getElementById("Particulier");
                            y.style.display = "none";
                            var z = document.getElementById("myPartOuPro");
                            z.value = "Pro";
                            var zpro = document.getElementById("myPartOuProPro");
                            zpro.value = "Pro";
                        }
                    }
                );
        });
    </script>
}
