@page
@model IDemat.Pages.Usagers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Usagers</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <img src="~/Images/VueAvionDecheterie.png" width="600" alt="" class="img-fluid d-none d-md-block float-left">
    </div>
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Usager.GuidUsager" />
            <input type="hidden" asp-for="Usager.Civilite" id="civiliteValeur" />
            <div class="form-group">
                <div class="row ml-0">
                    @foreach (var civilite in Model.Listes.Civilites)
                    {
                        @if (Model.Usager.Civilite == @civilite)
                        {
                            <input type="button" asp-for="Usager.Civilite" value="@civilite" id="civ_@civilite.ToString()" width="15" onclick="Test('@civilite.ToString()')" style="background:#1560BD;color:#FFFFFF" />@Html.Raw("&nbsp;")@Html.Raw("&nbsp;")
                        }
                        else
                        {
                            <input type="button" asp-for="Usager.Civilite" value="@civilite" id="civ_@civilite.ToString()" width="15" onclick="Test('@civilite.ToString()')" style="background:#EEEEEE;color:#000000" />@Html.Raw("&nbsp;")@Html.Raw("&nbsp;")
                        }

                    }
                    <span asp-validation-for="Usager.Civilite" class="text-danger"></span>
                    @if (Model.Variables.erreurCivilite)
                    {
                        <div>@Html.Raw("La civilité est obligatoire")</div>
                    }
                </div>
            </div>
            <div class="form-group">
                @*<label asp-for="Usager.Nom" class="control-label"></label>*@
                <input asp-for="Usager.Nom" class="form-control " />
                <span asp-validation-for="Usager.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Usager.Prenom" class="control-label"></label>*@
                <input asp-for="Usager.Prenom" class="form-control " />
                <span asp-validation-for="Usager.Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Usager.Telephone" class="control-label"></label>*@
                <input asp-for="Usager.Telephone" class="form-control " />
                <span asp-validation-for="Usager.Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Usager.Adresse" class="control-label"></label>*@
                <input asp-for="Usager.Adresse" class="form-control " />
                <span asp-validation-for="Usager.Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Usager.CP" class="control-label"></label>*@
                <input asp-for="Usager.CP" class="form-control " />
                <span asp-validation-for="Usager.CP" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Usager.Ville" class="control-label"></label>*@
                <input asp-for="Usager.Ville" class="form-control " />
                <span asp-validation-for="Usager.Ville" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Usager.Email" class="control-label"></label>*@
                <input asp-for="Usager.Email" class="form-control " />
                <span asp-validation-for="Usager.Email" class="text-danger"></span>
            </div>
            <!--div class="form-group">-->
            @*<label asp-for="Usager.Price" class="control-label"></label>*@
            <!--<input asp-for="Usager.Price" class="form-control" inputmode="numeric" />
        <span asp-validation-for="Usager.Price" class="text-danger"></span>
    </div>
    <div class="form-group">-->
            @*<label asp-for="Usager.Detail" class="control-label"></label>*@
            <!--<input asp-for="Usager.Detail" class="form-control" />
        <span asp-validation-for="Usager.Detail" class="text-danger"></span>
    </div>-->
            <div class="form-group">
                <label asp-for="Usager.TypeCarte" class="control-label"></label><br />
                @foreach (var typecarte in Model.Listes.TypesCarte)
                {
                    <input type="radio" asp-for="Usager.TypeCarte" value="@typecarte" />@Html.Raw("&nbsp;")@typecarte<br />
                }
                <span asp-validation-for="Usager.Civilite" class="text-danger"></span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFileCI" lang="fr">
                <label class="custom-file-label" for="customFileCI">Carte d'identité</label>
            </div>
            <br /><br />
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFileJD">
                <label class="custom-file-label" for="customFileJD">Justificatif de domicile</label>
            </div>
            <br /><br />
            <input type="file" asp-for="UploadCI" />
            <br /><br />
            <input type="file" asp-for="UploadJD" />
            <br /><br />
            <table class="table">
                @*<thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Usager.Vehicules)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Models.Vehicule vehicule in Model.Usager.Vehicules)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => vehicule.Immatriculation)
                            </td>
                            <td>
                                <a asp-page="../Vehicules/Edit" asp-route-id="@vehicule.Id" asp-route-idusager="@Model.Usager.Id">Modifier</a> |
                                <a asp-page="../Vehicules/Delete" asp-route-id="@vehicule.Id" asp-route-idusager="@Model.Usager.Id">Supprimer</a>
                            </td>
                        </tr>
                    }
                </tbody>*@
                <tfoot>
                    <tr>
                        <th>
                            <a asp-page="../Vehicules/Create" asp-route-guidusager="@Model.Usager.GuidUsager">Ajouter un véhicule</a>
                        </th>
                    </tr>
                </tfoot>
            </table>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function Test(monTexte) {
            var blnSelect = (monTexte == document.getElementById('civiliteValeur').value);
            var inputs = document.getElementsByTagName("input");
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].id.indexOf('civ_') == 0) {
                    //alert(inputs[i].id);
                    document.getElementById(inputs[i].id).style.background = '#EEEEEE';
                    document.getElementById(inputs[i].id).style.color = '#000000';
                }
            }
            if (!blnSelect) {
                document.getElementById('civ_' + monTexte).style.background = '#1560BD';
                document.getElementById('civ_' + monTexte).style.color = '#FFFFFF';
                document.getElementById('civiliteValeur').value = monTexte;
            }
            else {
                document.getElementById('civiliteValeur').value = '';
            }
            //Mettre les bonnes couleurs. Ajouter possiblité de décocher.
        }
    </script>
}
