@page
@model IDemat.Pages.Usagers.IndexModel

@{
    ViewData["Title"] = "Index";
}

@System.Globalization.CultureInfo.CurrentUICulture 

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usagers[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usagers[0].Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usagers[0].Ville)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Usagers[0].Vehicules)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Usagers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Vehicules.Count)
            </td>*@
            <td>
                <a asp-page="./Edit" asp-route-guid="@item.GuidUsager">Edit</a> |
                <a asp-page="./Details" asp-route-guid="@item.GuidUsager">Details</a> |
                <a asp-page="./Delete" asp-route-guid="@item.GuidUsager">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
